<ion-view title="History">
  <ion-content>
    <div class="list" ng-repeat="date in event_dates">
      <div class="item item-divider item-center">
        {{date|humanize}}
      </div>

      <a class="item" ng-repeat="item in events[date]">
        <div class="item_description" style="width: 90%">
          <span class="activity_title">{{ item.activity }}</span> 
        </div>

        <div class="item_controls">
          <span class="activity_duration history_duration" ng-init="hours=format_time(item.duration, 'hours');minutes=format_time(item.duration, 'minutes');seconds=format_time(item.duration, 'seconds')">
            <b ng-show="hours">{{ hours }}h </b>
            <b ng-show="minutes">{{ minutes }}m </b>
            <b ng-show="seconds">{{ seconds }}s </b>
          </span>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
