<ion-view title="DURATION">
  <ion-content class="padding custom-content">
    <ion-list>
      <ion-item ng-repeat="activity in activities" type="item-text-wrap" ng-class="{'selected': activity.interval != undefined}">
        <div class="item_description" ng-click="toggleActivity(activity)">
          <div class="activity_title">{{activity.title}} </div>
          <div class="activity_duration">
            <div class="duration_time" ng-class="{'duration_time_selected': activity.interval != undefined}">
              {{ activity.duration | millisecondsToStringFilter}}
            </div>
            <div class="circle" ng-class="{'duration_seconds_selected': activity.interval != undefined}">
              <div class="duration_seconds">23</div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
