<style type="text/css">
  .selected {
    background-color:#dff0d8;
    color: #3c763d;
  }
</style>

<ion-view title="DURATION">
<!-- 
    <ion-nav-buttons side="right">
        <button class="button" ng-click="addTimerEvent()">
            +
        </button>
    </ion-nav-buttons> -->
  <ion-content class="padding">
    <ion-list>
      <ion-item ng-repeat="activity in activities" type="item-text-wrap" ng-click="toggleActivity(activity)" ng-class="{'selected': activity.interval != undefined}">
        {{activity.title}} <span ng-if="activity.interval != undefined" style="float:right;">{{ activity.duration | millisecondsToStringFilter}}</span>
        <span ng-click="showChart(activity, $event);" ng-if="activity.interval == undefined" style="float:right;">See chart</span>
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
