<style type="text/css">
  .selected {
    background-color:#0f9d58;
    color: white;
  }

  .title, .tabs {
      color: #fff !important;
      background-color: #800A00 !important;
      margin: 0 !important;
  }

  .custom-content{
      background-color: #eee;
  }

  .chart_icon{
      background-image:url('img/chart_icon.png');
      width: 40px;
      height: 30px;
  }

  
  .activity_title{
      margin-left: 10px;
      line-height: 30px;
  }

  .activity_duration{
      float: right;
      line-height: 30px;
  }

  .item_description{
      float:left;
      width: 90%;
  }

  .item_icon{
      float:left;
      width: 10%;
  }

</style>

<ion-view title="DURATION">
<!-- 
    <ion-nav-buttons side="right">
        <button class="button" ng-click="addTimerEvent()">
            +
        </button>
    </ion-nav-buttons> -->
  <ion-content class="padding custom-content">
    <ion-list>
      <ion-item ng-repeat="activity in activities" type="item-text-wrap" ng-class="{'selected': activity.interval != undefined}">
        <div class="item_description" ng-click="toggleActivity(activity)">
          <span style="float:left;background-image:url('img/{{activity.title}}.png');width: 30px;height: 30px;"></span>

          <span class="activity_title">{{activity.title}} </span>
        </div>

        <div class="item_icon">
          <span ng-if="activity.interval != undefined" class="activity_duration">{{ activity.duration | millisecondsToStringFilter}}</span>
          <span class="chart_icon" ng-click="showChart(activity, $event);" ng-if="activity.interval == undefined" style="float:right;"></span>
        </div>   
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
