<style type="text/css">
  .selected {
    background-color:#61b346;
    color: white;
  }

  .title, .tabs {
      color: #fff !important;
      background-color: #00a2d4 !important;
      margin: 0 !important;
  }

  .custom-content{
      background-color: #eee;
  }

  .activity_title{
      margin-left: 10px;
      line-height: 30px;
  }

  .activity_duration{
      float: right;
      line-height: 30px;
  }

  .item_description{
      float:left;
      width: 100%;
  }

  .activity_icon{
      width: 30px;
      height: 30px;
      float:left;
  }

  .history_duration{
      color: #61b346;
  }

  .item-center{
      background-color: #e7e9ee;
      text-align:center;
  }

  .chart_iframe{
      height: 100%;
      width: 100%;
  }

</style>

<ion-tabs class="tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Charts Tab -->
  <ion-tab title="Charts" icon="icon ion-ios7-pulse-strong" href="#/tab/charts">
    <ion-nav-view name="tab-charts"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon="icon ion-clock" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

</ion-tabs>
