<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

<style type="text/css">
  .selected {
    background-color:#0f9d58;
    color: white;
  }

  .title, .tabs {
      color: #fff !important;
      background-color: #800A00 !important;
      margin: 0 !important;
  }

  .custom-content{
      background-color: #eee;
  }

  .chart_icon{
      background-image:url('img/chart_icon.png');
      width: 40px;
      height: 30px;
  }

  
  .activity_title{
      margin-left: 10px;
      line-height: 30px;
  }

  .activity_duration{
      float: right;
      line-height: 30px;
  }

  .item_description{
      float:left;
      width: 90%;
  }

  .item_icon{
      float:left;
      width: 10%;
  }

</style>

<ion-tabs class="tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Summary Tab -->
  <ion-tab title="Summary" icon="icon ion-heart" href="#/tab/summary">
    <ion-nav-view name="tab-summary"></ion-nav-view>
  </ion-tab>


  <!-- <\!-- Account Tab -\-> -->
  <!-- <ion-tab title="History" icon="icon ion-gear-b" href="#/tab/account"> -->
  <!--   <ion-nav-view name="tab-account"></ion-nav-view> -->
  <!-- </ion-tab> -->


</ion-tabs>
