<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.oneself.duration" version="1.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Duration</name>
  <description>
Ever get the feeling that you're spending more time commuting, less time sleeping and you don't do enough of the things you want? Duration by 1self makes it really easy to track and analyse how long you spend doing things to bring you a new level of self-awareness.

Duration is cloud connected timing app. Just hit the timer for the thing that you're doing and 1self will keep track of it for you. You can time more than one thing at   once. To find out how long you spent doing a certain thing, simply hit the charts button to be taken to the 1self visualisations.
  </description>
  <author email="team@1self.co" href="http://1self.co/">
    1self Team
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <preference name="StatusBarOverlaysWebView" value="false"/>
  <preference name="StatusBarBackgroundColor" value="#00a2d4"/>
  <preference name="StatusBarStyle" value="lightcontent" />
  <preference name="target-device" value="handset" />
  <preference name="orientation" value="portrait" />

  <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
  </feature>

  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser" />
  </feature>
  <icon src="www/res/icons/duration-icon.png" />
   <platform name="android">
              <icon src="www/res/icons/android/duration-icon.png" density="ldpi" />
              <icon src="www/res/icons/android/duration-icon.png" density="mdpi" />
              <icon src="www/res/icons/android/duration-icon.png" density="hdpi" />
              <icon src="www/res/icons/android/duration-icon.png" density="xhdpi" />
     </platform>
   <platform name="ios">
              <!-- iOS 7.0+ -->
              <!-- iPhone / iPod Touch  -->
              <icon src="www/res/icons/ios/duration-icon-60.png" width="60" height="60" />
              <icon src="www/res/icons/ios/duration-icon-60@2x.png" width="120" height="120" />
              <!-- iPad -->

              <icon src="www/res/icons/ios/duration-icon-76.png" width="76" height="76" />
              <icon src="www/res/icons/ios/duration-icon-76@2x.png" width="152" height="152" />
              <!-- iOS 6.1 -->
              <!-- Spotlight Icon -->
              <icon src="www/res/icons/ios/duration-icon-small-40.png" width="40" height="40" />
              <icon src="www/res/icons/ios/duration-icon-small-40@2x.png" width="80" height="80" />
              <!-- iPhone / iPod Touch -->
              <icon src="www/res/icons/ios/duration-icon-57.png" width="57" height="57" />
              <icon src="www/res/icons/ios/duration-icon-57@2x.png" width="114" height="114" />
              <!-- iPhone Spotlight and Settings Icon -->
              <icon src="www/res/icons/ios/duration-icon-small.png" width="29" height="29" />
              <icon src="www/res/icons/ios/duration-icon-small@2x.png" width="58" height="58" />
              <!-- ipad -->
              <icon src="www/res/icons/ios/duration-icon-72.png" width="72" height="72" />
   </platform>


   <platform name="ios">
     <!-- images are determined by width and height. The following are supported -->
     <splash src="www/ios_assets/Default.png" width="320" height="480"/>
     <splash src="www/ios_assets/Default@2x.png" width="640" height="960"/>
     <splash src="www/ios_assets/Default~ipad~nostatusbar" width="768" height="1024"/>
     <splash src="www/ios_assets/Default~ipad~nostatusbar@2x" width="1536" height="2048"/>
     <splash src="www/ios_assets/Default~ipad~landscape.png" width="1024" height="768"/>
     <splash src="www/ios_assets/Default~ipad~landscape@2x.png" width="2048" height="1536"/>
     <splash src="www/ios_assets/Default-568h@2x.png" width="640" height="1136"/>
     <splash src="www/ios_assets/iPhone6-portrait@2x" width="750" height="1334"/>
     <splash src="www/ios_assets/iPhone6-Plus-portrait@3x" width="1242" height="2208"/>
     <splash src="www/ios_assets/iPhone6-Plus-landscape@3x.png" width="2208" height="1242"/>
   </platform>

</widget>
